* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    width: 100%;
    background-color: #fff;
    padding: 10px 20px;

}

.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 2px solid #000;
}

.logo {
    color: #000;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: #000;
}

.btnstyle {
    display: flex;
    gap: 5rem;
    flex-direction: grid;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
}

button { 
    background-color: #bd7e0b;
    color: white;
    width: 4rem;
}